/* RESET SETTINGS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /RESET SETTINGS */

/* GOOGLE FONTS */
body{
  font-family: 'Roboto', sans-serif;
}
/* /GOOGLE FONTS */

/* TOP-HEADER */
header{
background-color: #f5f8fa;
}

#top-header{
  font-size: 12px;
  width: 80%;
  margin: 0 auto;
  background-color: #f5f8fa;
  border-bottom: 1px solid rgb(51,71,91);
  position: relative;
}

#top-header i {
  font-size: 14px;
}

.top-h-left{
  padding: 20px 0;
  margin-left: 10%;
  margin-right: 70%;
  display: inline-block;
  color: rgb(51, 71, 91);
  font-weight: 500;
  }

#arrow{
  border-right: 1px solid rgb(51, 71, 91);
  border-color: rgb(51, 71, 91);
  padding-left: 3px;
  padding-right: 10px;
  margin-right: 10px;
}

.top-h-right{
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.top-h-right > a{
  text-decoration: none;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid rgb(255, 122, 89);
  margin-left: 10px;
}

#button-1{
color: rgb(255, 122, 89);

}

.orange-button{
background-color: rgb(255, 122, 89);
color: #fff;
}
/* /TOP-HEADER */

/* MAIN-MENU */
#main-menu{
  width: 80%;
  margin: 0 auto;
  background-color: #FFFFFF;
  position: relative;
  font-size: 12px;
  font-weight: 500;
}

#main-menu .logo{
  margin-left: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  }

  .logo img{
    width: 70px;
  }

  #hero-menu{
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  right: 10%;

  }

   #hero-menu, #hero-menu ul li{
     display: inline-block;
   }

 #hero-menu ul li a{
   text-decoration: none;
   list-style-type: none;
   padding-left: 15px;
   color: rgb(51, 71, 91);
}
#hero-menu ul li a i {
  padding-left: 7px;
}

/* /MAIN-MENU */
/* HERO */
  #hero{
    width: 80%;
    /* min-height: 550px; */
    margin: 0 auto;
    background-image: url(../img/jumbotron.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero-content > h1{
    font-size: 45px;
    padding: 40px 200px 50px;
    color: rgb(51, 71, 91);
  }

  .hero-content > p{
    padding-left: 200px;
    line-height: 24px;
    color: rgb(51, 71, 91);
  }

  .hero-content > button {
    margin-top: 40px;
    margin-left: 200px;
    padding: 18px;
    border-radius: 5px;
    border: 1px solid rgb(255, 122, 89);
  }

    .hero-content > span{
     margin: 40px 200px;
     padding-bottom: 140px;
      font-size: 9px;
      display: block;
    }


/* /HERO */
